#foote{height:229px;width:100%;clear:both;}
#foote .nls{height:197px;background: #38373b;}
#foote .nls .nlsl{width:1200px;margin:0px auto;padding:20px 0;}
#foote .nls .nlsl ul{padding:5px 0;}
#foote .nls .nlsl ul li{height:20px; width: 150px;}
#foote .nls .nlsl .nli{float:left;margin-left:105px; margin-right:45px;}
#foote .nls .nlsl ul li a{text-decoration:none;cursor:pointer;font-size:12px;color:cornsilk;font-family:Microsoft YaHei;font-weight:normal;}
#foote .nls .nlsl span{font-size:14px;color:aliceblue;font-family:Microsoft YaHei;;font-weight:normal;height:25px;line-height:25px;border-bottom:1px solid #666;display:block;}
#foote .ntec{height:32px;background:#333;color:#FFF;}
#foote .ntec .nth p{margin:0;font-size:12px;color:#FFF;line-height:32px;font-family:Microsoft YaHei;font-weight:lighter;-webkit-text-stroke: 0.1px;}
#foote .ntec .nth {width:960px;margin:0 auto;}

#foote .nls .nlsl .ca ul {float:left;width:95px;margin-right:30px;}